:root {
    --primary: #1d3d5f;
    --secondary: #16213e;
    --tertiary: #0f3460;
    --error: #e94560;
    --a: #D7DFFE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    text-decoration: none !important;
}

html,
body {
    height: 100%;
    background-color: var(--primary);
}

.search-box {
    position: relative !important;
}

.search-btn {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    transform: translateX(0) !important;
    transform: translateY(0) !important;
}

.search {
    border-radius: 25px !important;
}

.plus-icon {
    background: rgba(246, 248, 258, 0.1);
}

.card {
    background: rgba(246, 248, 258, 0.1);
    color: white;
}

.section-shortcuts {
    padding-top: 20%;
}

.card-body {
    display: flex;
}

.card-body .card-img {
    width: 40%;
}

.card-body a {
    color: #fff;
}

.card-body img {
    width: 100%;
}

.card-content {
    padding: 0 .7rem;
}

.card-content h4 {
    font-size: .95rem;
}

.card-content h6 {
    font-size: .75rem;
}

.links-container {
    margin: auto;
    padding: auto;
}

.default-links {
    /* box-sizing: border-box;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    display: flex;
    align-content: center;
     */
    margin: auto;
    padding: auto;
}

.stored-links {
    box-sizing: border-box;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 8%;
    display: flex;
    align-content: center;
}

*/ .modal-body {
    justify-content: flex-start;
}

section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(https://source.unsplash.com/random);
    display: flex;
    justify-content: center;
    align-items: center;
}

section h2 {
    font-size: 16vw;
    color: #000000;
    background: #ffffff;
    padding: 10px 40px;
    mix-blend-mode: screen;
}